
@layer components {
  .bg-primary {
    @apply bg-gradient-to-br 
from-red-100 
to-blue-400 
via-gray-200;
  }
}

:root{
  --primary-color:#22254b;
  --secondary-color: #373b69;
}

.shadow {
    shadow:#1DA1F2/40;
}

.center {
  text-align: center;
}

body{
  font-family: 'Poppins', sans-serif;
  margin: 0;
}

.search{
  background-color: transparent;
  border: 2px solid var(--primary-color);
  padding:0.5rem 1rem;
  border-radius: 50px;
  font-size: 1rem;
  color:#fff;
  font-family: inherit;
}

.search:focus{
  outline:0;
  background-color: var(--primary-color);
}

.search::placeholder{
  color: #7378c5;
}

#displaySearch{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  visibility: visible;
}

.movie {
  width: 300px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
}

.movieSimilar {
  min-width: 200px;
  margin: 1rem;
  border-radius: 3px;
  box-shadow: 0.2px 4px 5px rgba(0,0,0,0.1);
  background-color: var(--secondary-color);
  position:relative;
  overflow: hidden;
}

.movie img{
  width:100%;
}

.movie-info{
  color:#eee;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem 1rem;
  letter-spacing: 0.5px;
}

.movie-info h3{
  margin-top: 0;
}

.movie-info span{
  background-color: var(--primary-color);
  padding: 0.25rem 0.5rem;
  border-radius: 3px;
  font-weight: bold;
}

.movie-info span.green{
  color:lightgreen;
}

.movie-info span.orange{
  color:orange;
}

.movie-info span.red{
  color:red;
}

.overview{
  position:absolute;
  left:0;
  right:0;
  bottom:0;
  background-color: #fff;
  padding: 1rem;
  max-height: 100%;
  transform:translateY(101%);
  transition:transform 0.3s ease-in;
}

.movie:hover .overview{
  transform:translateY(0)
}

.movieSimilar:hover .overview{
  transform:translateY(0)
}

/* tester code for accordion */

/* Style the buttons that are used to open and close the accordion panel */
/* .accordion {
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
} */

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
/* .panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
} */

/* tester code for accordion */

.movie-review-card {
  height: 15em;
  margin: 3em;
  padding: .5em;
}